<!DOCTYPE html>
<html>
  <head>
    <title>Venta de celulares</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div id="divHeader1">
        <img height="50px" width="50px" src="/images/logo.png" alt="">
      </div>
      <div id="divHeader2">
        <ul id="la1">
          <li>SMARTPHONES</li>
          <li>TABLETS</li>
          <li>COMPUTADORAS</li>
        </ul>
      </div>
      <div id="divHeader3">
        <ul id="la2">
          <li>LOGIN</li>
          <li>REGISTRO</li>
        </ul>
      </div>
    </header>
    <nav id="padreCelus">
      <section id="uno">
        <img class="imgCelu" src="/images/img-phone-01.jpg" alt="">
        <h4 class="txt">Nombre del Producto</h4>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vitae quod alias praesentium dolores numquam!</p>
        <button>VER MAS</button>
      </section>
      <section id="dos">
        <img class="imgCelu" src="/images/img-phone-02.jpg" alt="">
        <h4 class="txt">Nombre del Producto</h4>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vitae quod alias praesentium dolores numquam!</p>
        <button>VER MAS</button>
      </section>
      <section id="tres">
        <img class="imgCelu" src="/images/img-phone-03.jpg" alt="">
        <h4 class="txt">Nombre del Producto</h4>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vitae quod alias praesentium dolores numquam!</p>
        <button>VER MAS</button>
      </section>
      <section id="cuatro">
        <img class="imgCelu" src="/images/img-phone-01.jpg" alt="">
        <h4 class="txt">Nombre del Producto</h4>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid vitae quod alias praesentium dolores numquam!</p>
        <button>VER MAS</button>
      </section>
    </nav>
    <nav id="padreDerecha">
      <section id="a"></section>
      <section id="b"></section>
      <section id="c"></section>
      <section id="d"></section>
    </nav>
  </body>
</html>
